
    <div class="row">
        <div class = "col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <img src="../../../assets/FotoPerfil.png" class="img-fluid" id="fotoPerfil">
        </div>
        <div class = "col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <p id="nombre">Rolando Lisarazo</p>
            <p>Full stack Developer Js</p>
        </div>
        <div class = "col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <span>
                <h1>Acerca de mí</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore velit id dicta temporibus nulla, maxime hic exercitationem ipsum. Quos, voluptatibus? Id at itaque quam placeat, quas temporibus natus optio minus.</p>
            </span>
        </div>
    </div>
